NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=EXAMPLE
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=EXAMPLE
NEXT_PUBLIC_SUPABASE_ANON_KEY=EXAMPLE

# Database connection string for Drizzle ORM
# Format: postgresql://postgres:[YOUR-PASSWORD]@[YOUR-PROJECT-REF].supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres:password@db.example.supabase.co:5432/postgres